@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 box-border w-full relative text-youtube-black bg-white scrollbar
  }

  h1 {
    @apply text-5xl font-bold
  }

  h2 {
    @apply text-4xl font-bold
  }

  h3 {
    @apply text-2xl font-bold
  }

  h4 {
    @apply text-xl font-bold
  }

  h5 {
    @apply text-base font-bold
  }

  h6 {
    @apply text-sm
  }

  button {
    @apply outline-none
  }
}

@layer components {
  /* width */
  .scrollbar-x-none::-webkit-scrollbar{
    height: 0px;
  }
  .scrollbar-y-none::-webkit-scrollbar{
    width: 0px;
  }

  .scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border: 2px solid white;
    border-radius: 5px;
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}